;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.1"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn app.core/init}}}
  :api {:target :esm
        :output-dir "api"
        :modules {:hello-world {:exports {default api.hello-world/handler}}}}}}
