---
description: Aprenda Clojure
---



<p>Clojure, apesar de ser a
<a href="https://survey.stackoverflow.co/2022/#most-loved-dreaded-and-wanted-language-love-dread" target="_blank">3<sup>a</sup></a>
linguagem de programação mais amada por desenvolvedores e a <a href="https://survey.stackoverflow.co/2022/#technology-top-paying-technologies" target="_blank">1<sup>a</sup></a> no ranking dos melhores salários,
é apenas a <a href="https://survey.stackoverflow.co/2022/#most-loved-dreaded-and-wanted-language-want" target="_blank">27<sup>a</sup></a> linguagem de programação mais desejada por desenvolvedores.</p>

<p>Este site é um experimento que tenta entender se é possível melhorar a posição da
  linguagem Clojure no ranking de linguagens mais desajadas e criar melhores oportunidades
  de emprego e renda no mercado brasileiro por meio de uma ferramenta educativa focada em uma
  experiencia de usuário simples e efetiva.</p>

<pre><code class="language-clojure">(println "Hello, World")</code></pre>
<ul>
{%- for post in collections.notes -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>